
.wsuNavGreyBackground {
    background-color: #23282B !important;
}

.whiteText {
    color: white !important;
}

.wsuLogoNav {
    width: 85px !important;
    height: 85px !important;
}

  
.customSearchButtonCSS {
    border: 1px solid #981E32;
    background-color: #23282B ;
    
}

.customSearchButtonCSS:hover  {
    border: 1px solid #981E32 !important;
    background-color: #981E32 !important;
    transition: background-color .4s linear !important;
}

.form-control:focus {
    border: 1px solid #981E32 !important;
    
}

.form-control {
    transition: width 2s !important;
    transition: width 2s !important;
}

/*
@media only screen and (max-width: 640px) {
    .navbarBrandText {
       font-size: 21px; 
    }
    .wsuLogoNav {
        width: 70px !important;
        height: 70px !important;
    }
    .blackTextPrimary {
        font-size: 12px;
    }
    .mainCarouselParagraph {
        font-size: 12px;
    }
   
}

@media only screen and (max-width: 580px) {
    .navbarBrandText {
       font-size: 18px !important; 
    }
    .wsuLogoNav {
        width: 60px !important;
        height: 60px !important;
    }
    .blackTextPrimary {
        font-size: 12px;
    }
    .mainCarouselParagraph {
        font-size: 12px;
    }
}
*/
.backgroundCarouselImage1 {
    height: 100%;
    background: url(wsuEngineeringPicture.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* opacity: .35 !important; */
}

.backgroundCarouselImage2 {
    height: 100%;
    background: url(Roads_to_Pullman.JPG.jpg) no-repeat center center fixed ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* opacity: .35 !important; */
}

.backgroundCarouselImage3 {
    height: 100%;
    background: url(groupEngineeringPicture.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    /* opacity: .35 !important; */
}

.carousel-inner {
    height: 75%;
}

#blackTextPrimary {
    color: black;
    font-size: 60px;
    /* padding: 4% 5.5%; */
    
}

.textDiv {
    background: rgba(255, 255, 255, 0.87);
    height: 100%;
    padding: 4% 4%;
    margin: 0px auto;
    position: relative;
}

#mainCarouselParagraph {
    font-size: 25px;
    padding-top: 2%;
    
}

.customCarouselButtonCSS {
    border: 1px solid whtie;
    background-color: #981E32 !important;
    color: white !important;
    font-size: 25px;
    padding: 1%;
}

.customCarouselButtonCSS:hover  {
    border: 1px solid #981E32 !important;
    background-color: transparent!important;
    color: black !important;
    transition: background-color .4s linear !important;
}

/*@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
   #mainCarouselParagraph {

   }
} */
 
.innerTextDiv { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 40px;
}

.centerJumbotronButtonMiddle {
    text-align: center;
}

.leftJumbotronArrow {
    height: 40px !important;
    width: 40px !important;
}

.rightJumbotronArrow {
    height: 40px !important;
    width: 40px !important;
}
/*
@media only screen and (max-width: 640px) {
    .navbarBrandText {
       font-size: 21px; 
    }
    .wsuLogoNav {
        width: 70px !important;
        height: 70px !important;
    }
    .blackTextPrimary {
        font-size: 12px;
    }
    .mainCarouselParagraph {
        font-size: 12px;
    }
   
}

@media only screen and (max-width: 580px) {
    .navbarBrandText {
       font-size: 18px !important; 
    }
    .wsuLogoNav {
        width: 60px !important;
        height: 60px !important;
    }
    #blackTextPrimary {
        font-size: 50% !important;
    }
    #mainCarouselParagraph {
        font-size: 50% !important;
    }
}
*/

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1800px) { 
    .navbarBrandText {
        font-size: 21px; 
     }
     .wsuLogoNav {
         width: 70px !important;
         height: 70px !important;
     }
    #blackTextPrimary {
        font-size: 262.5% !important;
    }
    #mainCarouselParagraph {
        font-size: 175% !important;
    }
    .mainTextHeading {
        padding: 32px 15% 0 15%;
        text-align: left;
        font-size: 45px !important;
    }
}
@media only screen and (max-width: 1500px) { 
    .navbarBrandText {
        font-size: 19px; 
     }
     .wsuLogoNav {
         width: 70px !important;
         height: 70px !important;
     }
    #blackTextPrimary {
        font-size: 262.5% !important;
    }
    #mainCarouselParagraph {
        font-size: 175% !important;
    }
    .mainTextHeading {
        padding: 32px 15% 0 15%;
        text-align: left;
        font-size: 35px !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) { 
    .navbarBrandText {
        font-size: 18px; 
     }
     .wsuLogoNav {
         width: 70px !important;
         height: 70px !important;
     }
    #blackTextPrimary {
        font-size: 187.5% !important;
    }
    #mainCarouselParagraph {
        font-size: 150% !important;
    }
    .innerTextDiv { 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%; 
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) { 
    .navbarBrandText {
        font-size: 21px; 
     }
     .wsuLogoNav {
         width: 70px !important;
         height: 70px !important;
     }
    #blackTextPrimary {
        font-size: 187.5% !important;
    }
    #mainCarouselParagraph {
        font-size: 125% !important;
    }
    .innerTextDiv { 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%; 
    }
    .mainTextHeading {
        padding: 32px 15% 0 15%;
        text-align: left;
        font-size: 32px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .navbarBrandText {
        font-size: 21px; 
     }
     .wsuLogoNav {
         width: 70px !important;
         height: 70px !important;
     }
    #blackTextPrimary {
        font-size: 150% !important;
    }
    #mainCarouselParagraph {
        font-size: 130% !important;
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) { 
    .navbarBrandText {
        font-size: 15px !important; 
     }
     .wsuLogoNav {
         width: 60px !important;
         height: 60px !important;
     }
     #blackTextPrimary {
         font-size: 135% !important;
     }
     #mainCarouselParagraph {
         font-size: 130% !important;
     }
     .innerTextDiv { 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%; 
    }
}

@media only screen and (max-width: 500px) { 
    .navbarBrandText {
        font-size: 15px !important; 
        padding: 0;
        margin: 0;
     }
     .wsuLogoNav {
        width: 0 !important;
        height: 0 !important;
     }
     #blackTextPrimary {
         font-size: 135% !important;
     }
     #mainCarouselParagraph {
         font-size: 130% !important;
     }
     .innerTextDiv { 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%; 
    }
    
}

@media only screen and (max-height: 650px) /*and (max-width: 1920px)*/ {
    .textDiv {
        height: 550px;
    }
    .carousel-inner {
        height: 550px !important;
    }
    .navbarBrandText {
        font-size: 14px !important; 
        padding: 0;
        margin: 0;
     }
     .wsuLogoNav {
        width: 60px !important;
        height: 60px !important;
     }
     #blackTextPrimary {
         font-size: 30px !important;
     }
     #mainCarouselParagraph {
         font-size: 20px !important;
     }
     .innerTextDiv { 
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%; 
        padding-bottom: 50px;
    }

    .customCarouselButtonCSS {
        border: 1px solid whtie;
        background-color: #981E32 !important;
        color: white !important;
        font-size: 20px;
        padding: 1%;
    }
    
    .customCarouselButtonCSS:hover  {
        border: 1px solid #981E32 !important;
        background-color: transparent!important;
        color: black !important;
        transition: background-color .4s linear !important;
    }

    .leftJumbotronArrow {
        height: 20px !important;
        width: 20px !important;
    }
    
    .rightJumbotronArrow {
        height: 20px !important;
        width: 20px !important;
    }
    
}

@media only screen and (max-height: 750px) and (max-width: 1350px) {
    .textDiv {
        height: 550px;
    }

    .carousel-inner {
        height: 550px !important;
    }

    .navbarBrandText {
        font-size: 14px !important; 
        padding: 0;
        margin: 0;
     }

     .wsuLogoNav {
        width: 60px !important;
        height: 60px !important;
     }

     #blackTextPrimary {
         font-size: 30px !important;
     }

     #mainCarouselParagraph {
         font-size: 20px !important;
     }

     .innerTextDiv { 
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%; 
        padding-bottom: 50px;
    }

    .customCarouselButtonCSS {
        border: 1px solid whtie;
        background-color: #981E32 !important;
        color: white !important;
        font-size: 20px;
        padding: 1%;
    }
    
    .customCarouselButtonCSS:hover  {
        border: 1px solid #981E32 !important;
        background-color: transparent!important;
        color: black !important;
        transition: background-color .4s linear !important;
    }

    .leftJumbotronArrow {
        height: 20px !important;
        width: 20px !important;
    }
    
    .rightJumbotronArrow {
        height: 20px !important;
        width: 20px !important;
    }
    .mainTextHeading {
        padding: 32px 15% 0 15%;
        text-align: left;
        font-size: 35px !important;
    }
    
}

@media only screen and (max-height: 650px) and (max-width: 650px) {
    .textDiv {
        height: 550px;
    }
    .carousel-inner {
        height: 550px !important;
    }
    .navbarBrandText {
        font-size: 14px !important; 
        padding: 0;
        margin: 0;
     }
     .wsuLogoNav {
        width: 0 !important;
        height: 0 !important;
     }
     #blackTextPrimary {
         font-size: 25px !important;
     }
     #mainCarouselParagraph {
         font-size: 18px !important;
     }
     .innerTextDiv { 
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%; 
        padding-bottom: 50px;
    }

    .customCarouselButtonCSS {
        border: 1px solid whtie;
        background-color: #981E32 !important;
        color: white !important;
        font-size: 20px;
        padding: 1%;
    }
    
    .customCarouselButtonCSS:hover  {
        border: 1px solid #981E32 !important;
        background-color: transparent!important;
        color: black !important;
        transition: background-color .4s linear !important;
    }

    .leftJumbotronArrow {
        height: 20px !important;
        width: 20px !important;
    }
    
    .rightJumbotronArrow {
        height: 20px !important;
        width: 20px !important;
    }
    
    

}



.blueBackgroundTest {
    background-color: green;
}

.redBackgroundTest {
    background-color: red;
}

.mainTextHeading {
    padding: 0px 15% 0 15%;
    text-align: left;
    font-size: 52px;
}

.defaultParagraphStyling {
    padding: 10px 15%;
    font-size: 20px;
}

.sideTextHeading {
    padding: 0px 0 5px 0;
    text-align: center;
    font-size: 27px;
}

.largeWhiteGap {
    height: 30px;
}

.breakLine {
    background-color: #23282B;
    height: 1px;
    margin: 0 10% 2.5% 10%;
}

.calendarDivOuter {
    display: flex;
    justify-content: center;
    /*align-items: center; */
    height: 50%;
}

.eventsCalendarDiv {
    width:300px;
    height: 100%;
    background:#fff;
    box-sizing: border-box;
    /* box-shadow: 0 5px 20px rgba(35, 40, 43, .5); */
    /* margin-top: 45px; */
    
}

.eventsCalendarDiv .date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}
.eventsCalendarDiv .date div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    color: black;
}

.eventsCalendarDiv .date div.day {
    font-weight: 700;
}

.eventsCalendarDiv .date div.day:first-child,
.eventsCalendarDiv .date div.day:nth-child(7n + 1) {
    color: black;
    font-weight: 700;
}

.eventsCalendarDiv .date div.number.active {
    background: #981E32;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.deactivatedCalendarNumber {
    opacity: .2;
}

.calendarMonthHeading {
    padding: 5px 5% -5px 5%;
    text-align: center;
    font-size: 22px;
}
.calendarMonthHeadingSmaller {
    padding: 5px 5% -5px 5%;
    text-align: center;
    font-size: 18px;
}

.sideTextHeadingNews {
    padding: 0 auto;
    text-align: center;
    font-size: 27px;
    margin-top: 50px;
    font-weight: 600;
}

.mainNewsList {
    position:relative;
    display: inline-block;  
    list-style: none;
    width:100%;
    text-align: center;
    margin: auto;
    padding: 15px 0px;
}

.mainNewsList li {
    padding: 2% 0;
}

.mainNewsList a {
    color: #981E32;
    font-size: 20px;
    text-decoration: underline;
}

.mainNewsList a:hover {
    color: black;
    font-size: 20px;
    transition: color .4s linear;
}

.blackBackgroundFooter {
    color: white;
    background-color: #23282B;
}

.linksListStyling li a{
    color: white;
    
}

.footerTextSide {
    padding: 0px 50px 0px 50px;
}

.footerMargin {
    margin-top: 25px;
}


.wsuNavLightBackground {
    background-color: white !important;
}

#carouselExampleIndicators {
    opacity: 1 !important;
}

.leftColumnDivMainPage {
    padding: 3%;
}
.rightColumnDivMainPage {
    padding: 3%;
}
/*
.crazyBackgroundAttempt {
    background: linear-gradient(-90deg, #23282B 40%, white 40%);
    

}
*/

/*
.eventsCalendarDiv {
    width: 80%;
    height: 300px;
    display:flex;
    margin: 0 auto;
    text-align: center;
}

.smallSquare {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    vertical-align: top; 
    font-size: 12px;
}
.smallSquare {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 22px;
  font-size: 100%;
  text-align: center;
}

.firstRow {
    margin: 0 auto;
    display: inline-block;
}

Below is new attempt at calendar
*/





/*
width: 14.825%;
height: 16.66%;
*/
